pipeline/PL_SQL_CSV.json
{
	"name": "PL_SQL_CSV",
	"properties": {
		"activities": [
			{
				"name": "CPY_SQL_CSV",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQL_SERVERVM11",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SP_SQL_CSV_AUDIT",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CPY_SQL_CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[loadstatus]",
					"storedProcedureParameters": {
						"dataread": {
							"value": {
								"value": "@activity('CPY_SQL_CSV').output.dataread",
								"type": "Expression"
							},
							"type": "String"
						},
						"errorid": {
							"value": null,
							"type": "String"
						},
						"errormessage": {
							"value": null,
							"type": "String"
						},
						"loadstatus": {
							"value": {
								"value": "@activity('CPY_SQL_CSV').output.executionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@concat(pipeline().parameters.schemaname,'_',pipeline().parameters.tablename) ",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_CSV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP_SQL_CSV_AUDIT_FAIL",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CPY_SQL_CSV",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[loadstatus]",
					"storedProcedureParameters": {
						"dataread": {
							"value": null,
							"type": "String"
						},
						"errorid": {
							"value": {
								"value": "@activity('CPY_SQL_CSV').errors[0].code\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"errormessage": {
							"value": {
								"value": "@activity('CPY_SQL_CSV').errors[0].message\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"loadstatus": {
							"value": "Failed",
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@concat(pipeline().parameters.schemaname,'_',pipeline().parameters.tablename)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_CSV",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"schemaname": {
				"type": "String"
			},
			"tablename": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-18T15:54:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}